@use '../../../typography.module.scss' as *;

.HeaderDropDown {
  @include content-font;

  &__item {
    @include content-font;
    cursor: pointer;
    border: none;
    background: none;
  }

  &__linkContainer {
    display: none;
  }

  &__linkContainerOpen {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    z-index: 2;
  }

  &__link {
    color: black;
    text-decoration: none;
    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }
}