@mixin collective-font {
  @font-face {
    font-family: 'CollectiveFont';
    src: url('/fonts/gillsansnovainline_bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin content-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}
