@use '../../../typography.module.scss' as *;

.HeaderMenu {
  width: 100%;
  display: flex;
  align-items: center;

  &__menuItems {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menuLink {
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    @include content-font;
  }
}