@use '../../../typography.module.scss' as *;

.Herobanner {
  width: 100%;
  margin-bottom: 6rem;

  &__image {
    background-image: url('../../../../public/Frame1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    color: black;
    padding-bottom: 4rem;
  }

  &__description {
    width: 100%;
    @include content-font;
    text-align: center;
    font-size: large;
  }
}